<h1>Result page</h1>
<br/>
<p>Will do this when have time! </p>
<p>A page that show latest total amount, total game played, total win, total lose, total tie, % of win, % of lose, , % tie, win by blackjack, win by dealer busted, win by comparing total, largest bet, smallest bet, continue streak win, continue streak lose, lasgest win, smallest win.  button play again</p>
<hr>
<a href="/set_money" class="btn btn-primary" type="button">Restart the game!</a>