<h1>Tell us what is your name.</h1>
  <form action="/set_name" method="post">
    <input type="text" class="input-medium search-query" placeholder="Enter your name" name="player_name">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>