<h1>Welcome to BlackJack Game!!!</h1>

<h4>Do you want to start blackjack game?</h4>
<a href="/set_name" class="btn btn-primary" type="button">Yes Let's play!</a> 
<button data-toggle="tooltip" title="Too bad, button not working today!" type="button" class="btn btn-danger disabled" disabled="disabled">No, not today!</button>
<i class="icon-info-sign icon-white" data-toggle="tooltip" title="Too bad, button not working today!"></i>
